.pimg1 {
    background-image: url("../image/richa2.jpg");
    height: 615px;
}

.pimg2 {
    background-image: url("../image/skills.jpeg");
    height: 300px;
}

.pimg3 {
    background-image: url("../image/contact.jpeg");
    height: 300px;

}

.pimgEducation {
    background-image: url("../image/education.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.pimg4 {
    background-image: url("../image/img1.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.pimg4 .ptext .border {
    color: black;
}

.pimg4 .ptext {
    top: 70%;
}

.pimg1,
.pimg2,
.pimg3,
.pimgEducation {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.black {
    color: black !important;
}

.center {
    text-align: center;
}

.section {
    padding: 50px 80px;
}

.education {
    color: white;
    height: 110px;
}

.contact.section .block {
    cursor: pointer;
    text-decoration: none;
    background: lightsteelblue;
}

.contact.section .block:hover {
    text-decoration: underline;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.trans {
    background-color: transparent;
}

@media(max-width:568px) {

    .pimg1,
    .pimg2,
    .pimg3,
    .pimg4 {
        background-attachment: scroll;
    }
}

.description {
    font-size: 20px;
}

.block {
    background: #D8B69F;
    color: black;
    display: inline-block;
    padding: 6px 20px;
    margin: 10px;
    border-radius: 6px;
}

.education-align {
    width: 600px;
    position: relative;
    left: 27%;
}

.alignRight {
    float: right;

}

.alignLeft {
    float: left;
}