.pimg1 {
    background-image: url("../image/richa2.jpg");
    min-height: 615px;
}

.pimg2 {
    background-image: url("../image/skills.jpeg");
    min-height: 400px;
}

.pimg3 {
    background-image: url("../image/contact.jpeg");
    min-height: 400px;
}

.pimg4 {
    background-image: url("../image/img1.jpg");
    min-height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.pimg1,
.pimg2,
.pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.trans {
    background-color: transparent;
}

@media(max-width:568px) {

    .pimg1,
    .pimg2,
    .pimg3,
    .pimg4 {
        background-attachment: scroll;
    }
}

.description {
    font-size: 20px;
}

.block {
    background: white;
    color: black;
    display: inline-block;
    padding: 6px 20px;
    margin: 10px;
    border-radius: 6px;
}